.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background-color: #D1E4FA;
  color: #37123C;
}
.bliss-title{
  font-size: 60px;
  color: #37123C;
}


.toolbar-item {
  margin-right: 48px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.mat-mdc-button-base.mat-mdc-button-base.mat-unthemed{
  color: #37123C;
}

.profile-icon:hover{
  background-color: #b6ccf6;
  transition-duration: 0.7s ;
}

.bliss-title {
  font-size: 36px; /* Aumenta el tamaño de la fuente solo para BLISS */
  color: #37123C;
}
