<mat-toolbar color="">

  <a mat-button [routerLink]="'/catalog'" class="bliss-title">{{ 'BLISS' | translate }}</a>
  <span class="example-spacer"></span>

  @for(option of options; track option.title) {
    <a mat-button [routerLink]="option.path">{{ option.title }}</a>
  }
  <span class="example-spacer"> </span>

  <button mat-icon-button class="example-icon" aria-label="Search icon">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Shopping cart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Heart icon">
    <mat-icon>favorite</mat-icon>
  </button>

  <span class="example-spacer"> </span>
  <button mat-icon-button class="example-icon favorite-icon profile-icon" aria-label="Heart icon">

    <mat-icon>person</mat-icon>
  </button>
  <app-authentication-section/>


  <app-language-switcher/>



</mat-toolbar>
