<div class="main-container">
  <!-- Contenedor del Formulario o Tarjeta -->
  <div class="container">
    <!-- Formulario de Edición/Creación -->

    <div class="profile-card-edit">
      @if (editMode) {
        <form (ngSubmit)="onUpdate()" #customerForm="ngForm" class="form-section">
          <div class="profile-img">
            <img src="https://i.pinimg.com/736x/01/92/2a/01922a697b10f032f39979e3ea7a9d23.jpg" alt="profile photo" class="profile-img">
          </div>
          <mat-icon matSuffix>camera_alt</mat-icon>

          <h3 class="prof-info">Information</h3>

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <mat-icon matPrefix>person</mat-icon>

            <input matInput placeholder="Name" name="name" required [(ngModel)]="company.name" #name="ngModel">
            <mat-error *ngIf="name.invalid && name.touched">Name is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="E-mail" name="email" required [(ngModel)]="company.email" #email="ngModel" type="email">
            <mat-icon matPrefix>mail</mat-icon>

            <mat-error *ngIf="email.invalid && email.touched">A valid email is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <mat-icon matPrefix>place</mat-icon>

            <input matInput placeholder="Address" name="address" required [(ngModel)]="company.address" #address="ngModel">
            <mat-error *ngIf="address.invalid && address.touched">Address is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <mat-icon matPrefix>phone</mat-icon>

            <input matInput placeholder="Phone-Number" name="phoneNumber" required [(ngModel)]="company.phoneNumber" #phoneNumber="ngModel">
            <mat-error *ngIf="phoneNumber.invalid && phoneNumber.touched">Phone number is required.</mat-error>
          </mat-form-field>

          <div class="btns">
            <button mat-raised-button color="primary" type="submit">Save</button>
            <button class="btn-red" type="button" (click)="onCancel()">Cancel</button>
          </div>

        </form>
      } @else {
        <!-- Tarjeta de Visualización del Cliente -->
        <div class="profile-card">
          <div class="profile-img">
            <img src="https://i.pinimg.com/736x/01/92/2a/01922a697b10f032f39979e3ea7a9d23.jpg" alt="profile photo" class="profile-img">
          </div>
          <h3>{{ company.name }}</h3>
          <p><strong>Email:</strong> {{ company.email }}</p>
          <p><strong>Address:</strong> {{ company.address }}</p>
          <p><strong>Phone Number:</strong> {{ company.phoneNumber }}</p>
          <button mat-raised-button color="accent" (click)="toggleEdit(company)">Edit</button>
        </div>

      }
    </div>

  </div>


  <!-- Contenedor de estilistas -->
  <div class="container-favorites">
    <h3>Stylists list</h3>
    <div class="card-list">
      @for (stylist of stylists; track stylist.id) {
        <div class="card">
          <div class="card-container">
            <div class="specialist-name">{{ stylist.name }}</div>
            <div class="sub-card">
              <div class="price">{{ stylist.specialism }}</div>
              <div class="stars">
                <mat-icon matPrefix>star</mat-icon>
                {{ stylist.rating }}
              </div>
            </div>
          </div>
          <div class="image-container">
            <img [src]="stylist.img" alt="foto de perfil del estilista">
          </div>
        </div>
      }
      @empty {
        <p>No hay estilistas disponibles</p>
      }
    </div>
  </div>

</div>

