.form-section {
  display: table;
}

.form-row {
  display: table-cell;
  max-width: 2400px;
}

.form-row .mat-raised-button {
  margin-right: 8px;
}

.form-row .mat-form-field {
  margin-right: 8px;
}

.form-row #age-form-field {
  margin-right: 8px;
  width: 15%;
}

.container{
  display: flex;
}
.box {
  padding: 20px;
  margin: 10px;
}
.card1 mat-card {
  background-color: #B39DE7;
}
.card2 mat-card {
  background-color: #CFDCD3;
}
