.form-section {
  display: table;
}

.form-row {
  display: table-cell;
  max-width: 2400px;
}

.form-row .mat-raised-button {
  margin-right: 8px;
}

.form-row .mat-form-field {
  margin-right: 8px;
}

.form-row #age-form-field {
  margin-right: 8px;
  width: 15%;
}

.container{
  display: flex;
}
.box {
  padding: 20px;
  margin: 10px;
}

.card1 mat-card {
  background-color: #B39DE7;
}

.card2 mat-card {
  display: flex;
  flex-direction: column;
  background-color: #CFDCD3;

}

mat-card-header {
  margin-bottom: 16px;
}

.card2 mat-card mat-card-subtitle {
  text-align: center;
  font-size: 25px;
}

.card2 mat-card mat-card-actions {
  /*margin-top: auto;*/
}

mat-icon {
  padding: 15px;
  font-size: 30px;
}
