/* src/app/customers/history/pages/services-history/services-history.component.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.review-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  width: 20%; /* Occupy 20% of the width */
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #37123C;
  text-align: center;
  position: relative;
}

.review-card *,
.review-card *:before {
  box-sizing: border-box;
  transition: all 0.1s ease-out;
}

.review-card figcaption {
  padding: 13% 10% 12%;
}

.review-card figcaption:before {
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #37123C;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.review-card h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.review-card h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.review-card blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

/* Demo purposes only */
body {
  background-color: #212121;
  text-align: center;
}
