<div class="main-container">
  <div class="container">
    <form (submit)="onSubmit()" #studentForm='ngForm' class="form-section">
      <div class="profile-img"><img src="https://images.ctfassets.net/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=1200&h=992&fl=progressive&q=70&fm=jpg" alt="profile photo" class="profile-img"></div>
      <h3>Information</h3>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" name="name" required [(ngModel)]="customer.name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="E-mail" name="e-mail" required [(ngModel)]="customer.email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" name="Address" required [(ngModel)]="customer.address">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone-Number" name="phoneNumber" required [(ngModel)]="customer.phoneNumber">
      </mat-form-field>
      <ng-container>
        @if (editMode === true) {
          <button mat-raised-button color="primary">Update</button>
          <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        }
        @else {
          <button mat-raised-button color="primary">Add</button>
        }
      </ng-container>
    </form>
  </div>
  <div class="container-favorites">
    <h3>Favorite Services</h3>
    <div class="card-list">
    <div *ngFor="let service of services" class="card">
      <div class="image-container">
        <img [src]="service.image" alt="{{ service.serviceCategory }}">
      </div>
      <div class="card-container">
        <div class="row">
          <p class="language">{{ service.language }}</p>
          <p class="stars">{{ service.stars }}</p>
        </div>
        <div class="column">
          <p class="service-category">{{ service.serviceCategory }}</p>
          <p>{{ service.description }}</p>
        </div>
        <p class="price">{{ service.price }}</p>
      </div>
    </div>
  </div>
</div>
