/* main container */
.main-container {
  display: flex;
  padding-top: 30px;
  height: auto;
  min-height: 100vh;
  flex-flow: row nowrap;

}
.prof-info{
  color:#B39DE7 ;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.container-favorites {
  overflow-y: auto;
  margin-bottom: 100px;
  height: auto; /* Ajusta la altura si es necesario */

}


.container-favorites > h3{
  color: black ;
  font-size: 22px;
  font-weight: bold;
  text-align: start;
}
.profile-card h3.prof-info {
  font-weight: bold;
  font-size: 1.1rem;
  color:#B39DE7 ;

}

/* card customer */
.container {
  display: flex;
  background-color: #FFE8E8;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 30%;
  top: 0; /* Esto asegura que se quede pegado al tope */
  min-height: 100vh;
  padding: 20px 20px 120px 20px;
  box-sizing: border-box;
  font-size: smaller;
  color: black;


}
/* en edicion */
.profile-card-edit{
  background-color: white ;
  display: flex;
  flex-flow: column nowrap;
  width: 250px;
  height: auto ;
  color: black;
  padding: 25px;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 60px;
}

div.profile-img > .mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color{
  color: white;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
  position: relative;
  top: 80px;
  right: 30px;
  background-color: #B39DE7;
  border-radius: 100%;
  padding: 0.5px;
  font-size: 15px;
}
mat-icon{
  color: #B39DE7;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined {
  background-color: white; /* Fondo blanco */
  color: black;
  border-bottom: 1px solid #757575; /* Línea inferior gris */
  outline: none; /* Elimina cualquier outline si lo hay */
}
mat-label{
  color: #757575;
}
#mat-input-0, #mat-input-1, #mat-input-2, #mat-input-3{
  color: #1A1C3D;
}
/* Imagen de perfil */
.profile-img img {

  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
div.profile-img{
  display: flex;
  justify-content: center;

}

/* en vista */
.container > div.profile-card:nth-of-type(1) > .profile-card{
  color: black;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
  background-color: white;
  height: auto;
  padding: 20px;
  font-size: 15px;
}

strong{
  color: #B39DE7;
  font-size: 18px;
  font-weight: normal;
}

.profile-card{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: start;
  border-radius: 20%;
  max-height: 500px;
  font-size: 18px;
  font-weight: normal;

}

.profile-card > h3{
    color: #B39DE7;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
}

/*buttons */
.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-accent.mat-mdc-button-base > .mat-mdc-button-touch-target{
  background-color: #B39DE7;
  border-radius: 10px;
  padding: 1px;
}

.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-warn.mat-mdc-button-base > .mat-mdc-button-touch-target{
  background-color: #f60e0e;
  border-radius: 10px;
  padding: 1px;
}
.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-primary.mat-mdc-button-base > .mat-mdc-button-touch-target{
  background-color: #B39DE7;
  border-radius: 10px;
  padding: 1px;
}
.btns{
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* favorites container */
.container-favorites {
  margin-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: 100vh;
  overflow-y: scroll; /* El scroll solo afecta al div de la derecha */
  padding: 20px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  grid-auto-rows: minmax(150px, auto); /* Asegura que las filas se ajusten a la altura de las tarjetas */
  gap: 25px;
  width: 100%;
  padding-bottom: 100px;
}


.card {
  background-color: white;

  display: flex;
  flex-flow: row nowrap;
  border-radius: 20px;
  text-align: left;
  min-width: 30%;
  max-width: 40%;
  min-height: auto;
  max-height: none;
  align-items: flex-start;

}

.card-list > div.card > .image-container >img{
  border-radius: 20px 0 0 20px;
  height: 100%;

}
.image-container {
  background-color: white;
  border-radius: 20px 0 0 20px;
  height: 100%;
  flex: 0 0 auto;
}

.image-container img {
  background-color: white;
  width: 100%;
  max-width: 170px;
  height: auto;
  object-fit: cover;
}

/*derecha card*/

.card-list > div.card > .content-container{
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-content: start;
  align-items: start;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 0 12px;
}

.card-container{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: 10px;
}
.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}


.column {

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.language {
  color: #23A6F0;
  font-weight: 500;
}
.content-container{
  background-color: white;

}
.card-list > div.card > .content-container > .card-container > .row > .stars > .mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color{
  color: #ffae00;
  font-size: 19px;
  display: flex;
  align-items: center;

}

.card-list > div.card > .content-container > .card-container > .column{
  text-align: start;
  gap: 10px;
}
.card-list > div.card > .content-container > .card-container > .column > .description{
  color: #737373 ;
  font-size: 15px;
}

.service-category{
  color: #37123C ;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
}

.card-list > div.card > .content-container > .card-container{
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 10px;
  gap: 10px;

}

.stars {
  color: white;
  background-color: #3C123C;
  border-radius: 25px;
  width: 55px;
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.sales{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1px;
}
.base-price{
  color: #23856D;
  display: flex;
  font-weight: bolder;
  justify-content: start;
  align-items: center;
  gap: 1px;
}
.card-list > div.card > .content-container > .card-container > .base-price > .mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color{
  color: #23856D;

}
.price {
  color: green;
  font-weight: bolder;
}
