<h2>Make an Appointment</h2>
<div class="appointment-container">
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

    <!-- Primera fila: Full Name y Email en la misma fila -->
    <div class="input-row">
      <div class="input-group">
        <label for="fullName">Full Name *</label>
        <input id="fullName" formControlName="fullName" type="text" required>
      </div>
      <div class="input-group">
        <label for="email">Email *</label>
        <input id="email" formControlName="email" type="email" required>
      </div>
    </div>

    <!-- Segunda fila: Please Select y Available
    <div class="input-row">
      <div class="input-group">
        <label>Service Name:</label>
            <p>{{service.name}} </p>
      </div>
    </div>
    -->
    <!-- Campo de mensaje -->
    <div class="input-group">
      <label for="message">Message</label>
      <textarea id="message" formControlName="message" rows="4"></textarea>
    </div>

    <!-- Campo de requisitos -->
    <div class="input-group">
      <label for="requirements">Requirements</label>
      <select id="requirements" formControlName="requirements">
        <option value="" disabled selected>Select requirements</option>
        <option *ngFor="let customization of customizations" [value]="customization">{{ customization }}</option>
      </select>
    </div>

    <!-- Campo de fecha -->
    <div class="input-group">
      <label for="bookingDate">Date *</label>
      <input id="bookingDate" formControlName="bookingDate" type="date" required>
    </div>

    <!-- Campo de hora -->
    <div class="input-group">
      <label for="bookingTime">Enter time *</label>
      <input id="bookingTime" formControlName="bookingTime" type="time" required>
    </div>
    <a mat-stroked-button [routerLink]="['/payment']">
      <!-- Botón de enviar -->
      <button [disabled]="!bookingForm.valid" type="submit" onclick="OnSubmit()">Continue to Payment</button>
    </a>
  </form>

</div>
