.details-tittle {
  text-align: center;
  font-size: 16px;
  margin: 10px;
}

.details-form {
  display: flex;
  justify-content: center;
}

.details-form mat-form-field {
  margin: 3px;
}

.details-form button {
  margin: 3px;
}

.custom-title{
  text-align: center;
  font-size: 16px;
}

.table-wrapper {
  /*width: 1024px;*/
  margin: 50px auto;
}

table {
  width: 100%;
}

.table-container {
  padding: 25px;
}

tr.editable-row {
  background-color: lightblue;
}

::ng-deep .mat-form-field input.mat-input-element {
  background-color: #f0f0f0; /* Cambia el color según tus necesidades */
}

