<div class="grid-container">
  <div class="filter-column">
    <div>
      <h4>Filter Options</h4>
      <p>Filter by Name</p>
      <p>Filter by Type</p>
      <p>Filter by Price</p>
    </div>
  </div>

  <div class="service-cards">
    <h3>Recommended Services</h3>
    <app-service-card></app-service-card>
  </div>

<div class="specialist-cards">
  <h3>Popular Specialists</h3>
  <app-popular-specialist-card></app-popular-specialist-card>
</div>
<div class="bottom-filter">
  <app-bottom-filter></app-bottom-filter>
</div>

</div>
