.card, .new-card {
  display: inline-block;
  width: 200px;
  margin: 0;
  margin-right: 80px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
