<div>
  <h2>All Reviews</h2>
  <md-list>
    <md-list-item *ngFor="let review of reviews">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ review.comment }}</span>
            <span class="md-subhead">Rating: {{ review.punctuation }}</span>
            <span class="md-subhead">Date: {{ review.created_date }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <img *ngFor="let img of review.images" [src]="img" alt="Review Image" style="width: 100px; height: 100px; margin: 5px;">
        </md-card-content>
        <md-card-actions>
          <md-button (click)="editReview(review)" class="md-raised md-primary">Edit</md-button>
          <md-button (click)="deleteReview(review.id)" class="md-raised md-warn">Delete</md-button>
        </md-card-actions>
      </md-card>
    </md-list-item>
  </md-list>
  <md-button routerLink="/create" class="md-raised md-primary">Add New Review</md-button>
</div>
