<div class="container">
  <mat-list>
    <mat-list-item>
      <div class="rowsnashe">
        <p>Total a pagar</p>
        <p>{{ predefinedTotalAmount }}$</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Detalle de servicio</div>
    <mat-list-item *ngFor="let service of services">
      <div class="rowsnashe">
        <p>{{ service.detail }}</p>
        <p>{{ service.price }}$</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Correo</div>
    <mat-list-item>
      <div>
        <mat-form-field>
          <input matInput placeholder="user@gmail.com" type="email">
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Elige tu medio de pago</div>
    <mat-list-item>
      <div>
        <mat-form-field>
          <mat-select placeholder="Medio de pago" [(ngModel)]="payment.paymentMethod">
            <mat-option value="YAPE">Yape</mat-option>
            <mat-option value="PLIN">Plin</mat-option>
            <mat-option value="VISA">Visa</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Tipo de comprobante</div>
    <div class="center-toggle-group">
      <mat-button-toggle-group [(ngModel)]="payment.invoiceType">
        <mat-button-toggle value="BOLETA">BOLETA</mat-button-toggle>
        <mat-button-toggle value="FACTURA">FACTURA</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-list-item>
      <div class="rowsnashe">
        <mat-checkbox></mat-checkbox>
        <p>Acepto los <u class="highlight">términos</u> y <u class="highlight">condiciones</u></p>
      </div>
    </mat-list-item>
  </mat-list>
  <button mat-button (click)="submitPayment()">Pagar</button>
</div>
