.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #37123C;
}

.rowsnashe {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.example-margin {
  margin: 0 10px;
}

p {
  color: #37123C;
}

button {
  background-color: #8EBEF7;
  color: white;
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
}

mat-list-item {
  width: 100%;
}

mat-divider {
  margin: 10px 0;
}
.center-toggle-group {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.highlight {
  color: #370942; /* Replace with your desired color */
}
