.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #37123C !important;
}

.eonashe{
  display: flex;
  flex-direction: column !important;
}
.rowsnashe{
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.example-margin {
  margin: 0 10px;
}
p{
color: #37123C !important;
}

button{
  background-color: #8EBEF7 !important;
  color: white !important;
}
