<div class="container">
  <!-- Columna de texto -->
  <div class="text-columns">
    <div>
      <h3>Shop Layout</h3>
      <ul>
        <li><a (click)="filterByCategory('Crisping')">Crisping</a></li>
        <li><a (click)="filterByCategory('RegularCare')">RegularCare</a></li>
        <li><a (click)="filterByCategory('HairLeft')">HairLeft</a></li>
        <li><a (click)="filterByCategory('Massage')">Massage</a></li>
        <li><a (click)="filterByCategory('Makeup')">Makeup</a></li>
        <li><a (click)="filterByCategory('Spa')">Spa</a></li>
        <li><a (click)="filterByCategory('Waxing')">Waxing</a></li>
      </ul>
    </div>
    <div>
      <h3>Product Layout</h3>
      <ul>
        <li><a (click)="filterByCategory('Simple Cut')">Simple Cut</a></li>
        <li><a (click)="filterByCategory('SingleGel')">SingleGel</a></li>
        <li><a (click)="filterByCategory('Brown Spa')">Brown Spa</a></li>
        <li><a (click)="filterByCategory('Cattering')">Cattering</a></li>
        <li><a (click)="filterByCategory('Vertical Horizontal')">Vertical Horizontal</a></li>
        <li><a (click)="filterByCategory('Collection')">Collection</a></li>
      </ul>
    </div>
    <div>
      <h3>Service Type Categories</h3>
      <ul>
        <li><a (click)="filterByCategory('Simple Product')">Simple Product</a></li>
        <li><a (click)="filterByCategory('Vertical Product')">Vertical Product</a></li>
        <li><a (click)="filterByCategory('Left Product')">Left Product</a></li>
        <li><a (click)="filterByCategory('Right Product')">Right Product</a></li>
        <li><a (click)="filterByCategory('Special Products')">Special Products</a></li>
        <li><a (click)="filterByCategory('Outstock store')">Outstock store</a></li>
      </ul>
    </div>
    <div>
      <h3>Service Categories</h3>
      <ul>
        <li><a (click)="filterByCategory('Hair')">Hair</a></li>
        <li><a (click)="filterByCategory('Nails')">Nails</a></li>
        <li><a (click)="filterByCategory('Lashes')">Lashes</a></li>
        <li><a (click)="filterByCategory('Skin')">Skin</a></li>
      </ul>
    </div>
  </div>

  <!-- Imagen a la derecha -->
  <div class="image-container">
    <img src="https://www.cronista.com/files/image/804/804706/6630f6d539ecc.jpg" alt="Imagen de servicio">
  </div>
</div>
