<div class="container">
  <!-- Columna de texto -->
  <div class="text-columns">
    <div>
      <h3>Shop Layout</h3>
      <ul>
        <li><a href="#">Full Width</a></li>
        <li><a href="#">Sidebar Right</a></li>
        <li><a href="#">Sidebar Left</a></li>
        <li><a href="#">List View</a></li>
        <li><a href="#">Checkout</a></li>
        <li><a href="#">Card</a></li>
        <li><a href="#">Wishlist</a></li>
      </ul>
    </div>
    <div>
      <h3>Product Layout</h3>
      <ul>
        <li><a href="#">Big Image Scrolling</a></li>
        <li><a href="#">Simple Product</a></li>
        <li><a href="#">Vertical Right</a></li>
        <li><a href="#">Vertical Left</a></li>
        <li><a href="#">Vertical Horizontal</a></li>
        <li><a href="#">Collection</a></li>
      </ul>
    </div>
    <div>
      <h3>Service Type</h3>
      <ul>
        <li><a href="#">Simple Product</a></li>
        <li><a href="#">Vertical Product</a></li>
        <li><a href="#">Left Product</a></li>
        <li><a href="#">Right Product</a></li>
        <li><a href="#">Special Products</a></li>
        <li><a href="#">Outstock store</a></li>
      </ul>
    </div>
    <div>
      <h3>Service Categories</h3>
      <ul>
        <li><a (click)="filterByCategory('Hair')">Hair</a></li>
        <li><a (click)="filterByCategory('Nails')">Nails</a></li>
        <li><a (click)="filterByCategory('Lashes')">Lashes</a></li>
        <li><a (click)="filterByCategory('Skin')">Skin</a></li>
      </ul>
    </div>
  </div>

  <!-- Imagen a la derecha -->
  <div class="image-container">
    <img src="https://www.cronista.com/files/image/804/804706/6630f6d539ecc.jpg" alt="Imagen de servicio">
  </div>
</div>
