.service-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centra las tarjetas */
}

.service-card {
  width: 300px; /* Ajusta el tamaño de las tarjetas */
}
