<div class="service-cards">
  <mat-card class="service-card">
    <mat-card-header>
      <mat-card-title>{{ entservice.name }}</mat-card-title>

      <mat-card-subtitle>Category: N. {{ entservice.categoryId }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img mat-card-image [src]="entservice.imageUrl" alt="{{ entservice.name }}">
      <br>
      <p>Description: {{ entservice.description }}</p>
      <p>Price: $ {{ entservice.basePrice }}</p>
      <p>Salon: N. {{ entservice.beautySalonId }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ver Detalles</button>
    </mat-card-actions>
  </mat-card>
</div>

