<div class="service-cards">
  <mat-card class="service-card">
    <mat-card-header>
      <img class="service-image" mat-card-image [src]="entservice.imageUrl" alt="{{ entservice.name }}">
    </mat-card-header>

    <mat-card-content>
      <mat-card-title>{{ entservice.name }}</mat-card-title>

      <!--<p>Category: {{ entservice.categoryId }}</p>-->
      <br>
      <p> {{'bc-4.description' | translate }}: {{ entservice.description }}</p>

      <!--<p>Price: $ {{ entservice.basePrice }}</p>-->
      <!--<p>Salon: N. {{ entservice.beautySalonId }}</p>-->
    </mat-card-content>
    <mat-card-actions>
      <!--Button to view service details with param for id of service-->
      <a mat-stroked-button [routerLink]="['/service-details', entservice.id]"> {{'bc-4.buttondetails' | translate }} </a>
    </mat-card-actions>
  </mat-card>
</div>

