/* Estilos para la grilla y las tarjetas */
mat-grid-list {
  display: grid;
  gap: 100px;}
div {
  width: 80%;
  justify-content: center;
  margin: auto;
}
mat-grid-tile {
  padding-top: 100px;
  display: inline-table;
  align-items: center;
}

mat-grid-tile-content {
  padding-top: 100px;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

mat-card {
  height: 250px;
  background-color: white;
  margin: auto;

  width: 70%; /* Asegura que la tarjeta ocupe todo el ancho del tile */
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

mat-card-title {
  font-size: 16px;
  font-weight: 600;
  color: #4e114e;
  display: table-row;
}

mat-card-subtitle {
  font-size: 14px;
  color: #9e9e9e;
}

mat-card-content p {
  font-size: 14px;
  color: gray;
}
mat-card-actions {
  position: absolute;
  bottom: 5px; /* Ajusta según sea necesario */
  left: 16px; /* Ajusta según sea necesario */
  right: 16px; /* Ajusta según sea necesario */
  display: flex;
  flex-direction: column; /* Asegura que los botones estén uno encima del otro */
  gap: 8px; /* Añade espacio entre los botones */
}

mat-card-actions button {
  flex: 1; /* Asegura que los botones ocupen el mismo espacio */
  margin: 0; /* Elimina cualquier margen adicional */

  margin-bottom: 8px; /* Añade espacio debajo de cada botón */
}

button[mat-button] {
  background-color: #4e114e;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  text-transform: none;

}
mat-card-actions button {
  margin-right: 8px; /* Add some space between buttons */
}

button[mat-button]:hover {
  background-color: #370837;
}

button[mat-button][color="warn"] {
  background-color: #d32f2f;
}

button[mat-button][color="warn"]:hover {
  background-color: #b71c1c;
}
