<div class="appointment-container">
  <div class="service-details">
    <h2 class="service-title">{{ serviceName }}</h2>
    <p class="company-info">Offered by <strong>{{ companyName }}</strong></p>
    <p class="price">Starting at: <strong>{{ basePrice }}$</strong></p>
  </div>
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="booking-form">
    <div class="input-group">
      <label for="bookingDate">Date * </label>
      <input id="bookingDate" formControlName="bookingDate" type="date" required class="form-control">
    </div>
    <div class="input-group">
      <label for="bookingTime">Enter time * </label>
      <input id="bookingTime" placeholder="Select a date" formControlName="bookingTime" type="time" required class="form-control">
    </div>
    <div formArrayName="requirements">
      <div class="input-group" *ngFor="let detail of serviceDetails; let i = index">
        <label>
          <input type="checkbox" [formControlName]="i" (change)="updateTotalAmount()">
          {{ detail.detail }} - {{ detail.price }}$
        </label>
      </div>
    </div>
    <p>Total Amount: {{ bookingForm.value.totalAmount }}$</p>
    <button [disabled]="!bookingForm.valid" type="submit" class="btn btn-primary">Proceed to Payment <mat-icon>payment</mat-icon> </button>
  </form>
</div>
