<div class="container">
<div *ngFor="let specialists of dataSource.filteredData">
  <mat-card class="specialist-card">
    <mat-card-header>
      <mat-card-title>
        <img [src]="specialists.img" alt="Specialist Image">
      </mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>Specialist Name:{{specialists.lastName}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{specialists.certificationNumber}}</p>
      <p>{{specialists.phone}}</p>
    </mat-card-content>
  </mat-card>
</div>
</div>
