.container {
  display: flex;
  flex-wrap: nowrap; /* Ensure items are in a single row */
  justify-content: space-around;

}

.specialist-card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0;
}
mat-card-title img {
  width: 100%  !important;
}
.text-content p,
.mat-card-content p {
  text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
}
.mat-card-content {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}
