<div class="container">
<div *ngFor="let specialists of dataSource.filteredData">
  <mat-card class="specialist-card">
    <img [src]="specialists.img" alt="Specialist Image">
    <mat-card-header>
      <mat-card-title>
        {{specialists.lastName}}
      </mat-card-title>
      <mat-card-subtitle>
        {{specialists.profession}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Contact {{specialists.phone}}</p>
    </mat-card-content>
  </mat-card>
</div>
</div>
