.card {
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  padding: 30px;
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow-y: auto;
  margin-right: 60px;
}
