<div class="container">
    <div class="sidebar">
        <h5>{{ 'bc-5.booking.filter' | translate }}</h5>
        <input type="text" placeholder="{{ 'bc-5.booking.search' | translate }}">
        <div class="dropdown">
            <button class="dropbtn">{{ 'bc-5.booking.hair' | translate }} <span>&#9660;</span></button>
            <div class="dropdown-content">
                <a href="#">{{ 'bc-5.booking.type1' | translate }}</a>
                <a href="#">{{ 'bc-5.booking.type2' | translate }}</a>
                <a href="#">{{ 'bc-5.booking.type3' | translate }}</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">{{ 'bc-5.booking.nails' | translate }} <span>&#9660;</span></button>
            <div class="dropdown-content">
                <a href="#">{{ 'bc-5.booking.nailType1' | translate }}</a>
                <a href="#">{{ 'bc-5.booking.nailType2' | translate }}</a>
                <a href="#">{{ 'bc-5.booking.nailType3' | translate }}</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">{{ 'bc-5.booking.makeup' | translate }} <span>&#9660;</span></button>
            <div class="dropdown-content">
                <a href="#">{{ 'bc-5.booking.makeupType1' | translate }}</a>
                <a href="#">{{ 'bc-5.booking.makeupType2' | translate }}</a>
                <a href="#">{{ 'bc-5.booking.makeupType3' | translate }}</a>
            </div>
        </div>
        <hr class="divider">
        <div class="dropdown">
            <button class="dropbtn">{{ 'bc-5.booking.salon' | translate }} <span>&#9660;</span></button>
            <div class="dropdown-content">
                <a href="#">{{ 'bc-5.booking.salonType1' | translate }}</a>
                <a href="#">{{ 'bc-5.booking.salonType2' | translate }}</a>
                <a href="#">{{ 'bc-5.booking.salonType3' | translate }}</a>
            </div>
        </div>
        <hr class="divider">
        <div class="dropdown">
            <button class="dropbtn">{{ 'bc-5.booking.category' | translate }} <span>&#9660;</span></button>
            <div class="dropdown-content">
                <a href="#">{{ 'bc-5.booking.categoryType1' | translate }}</a>
                <a href="#">{{ 'bc-5.booking.categoryType2' | translate }}</a>
                <a href="#">{{ 'bc-5.booking.categoryType3' | translate }}</a>
            </div>
        </div>
        <hr class="divider">
        <div class="popular-tags">
            <h5>{{ 'bc-5.booking.popularTags' | translate }}</h5>
            <div class="tag" *ngFor="let tag of popularTags">
                {{ tag }} <span class="close-btn" (click)="removeTag(tag)">&times;</span>
            </div>
        </div>
        <hr class="divider">
        <div class="filter-by-price">
            <h5>{{ 'bc-5.booking.filterByPrice' | translate }}</h5>
            <input type="range" min="0" max="200" value="50" class="slider" id="priceRange" (input)="updatePrice($event)">
            <div class="price-box">{{ price | currency }}</div>
            <button class="filter-button">{{ 'bc-5.booking.filter' | translate }}</button>
        </div>
    </div>
    <div class="cards-container">
        <h4 class="cards-title">{{ 'bc-5.booking.cardsTitle' | translate }}</h4>
        <div class="cards-section">
            <app-card *ngFor="let card of cards" [card]="card"></app-card>
        </div>
        <br>
        <h4 class="cards-title">{{ 'bc-5.booking.newcardsTitle' | translate }}</h4>
        <div class="new-cards-section">
            <app-new-card *ngFor="let newCard of newCards" [newCard]="newCard"></app-new-card>
        </div>
    </div>
</div>
